<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desom.lanotachinatokenuploader"
    android:versionCode="14100"
    android:versionName="1.4.1">
    <application
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:label="Lanota 国服 Token 控制台"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
